Frontend/CrossMyBook/.DS_Store
Backend/thanos/
Frontend/DS_Store
.DS_Store
Backend/thanos/
Frontend/CrossMyBook/.DS_Store
Backend/api/migrations/__pycache__/
Backend/api/endpoints/__pycache__/
Backend/api/migrations/__pycache__/
Frontend/CrossMyBook/CrossMyBook.xcodeproj/project.xcworkspace/xcuserdata/caifeih.xcuserdatad/UserInterfaceState.xcuserstate
Frontend/CrossMyBook/CrossMyBook.xcodeproj/project.xcworkspace/xcuserdata/caifeih.xcuserdatad/UserInterfaceState.xcuserstate
Frontend/CrossMyBook/CrossMyBook.xcodeproj/project.xcworkspace/xcuserdata/caifeih.xcuserdatad/UserInterfaceState.xcuserstate
Frontend/CrossMyBook/CrossMyBook.xcodeproj/project.xcworkspace/xcuserdata/caifeih.xcuserdatad/UserInterfaceState.xcuserstate
